// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
@import "/app/assets/stylesheets/themes/current.scss";

.widget-stswitchhousemusic {

  background-color: $background-color-action !important;
  
  .switch-icon-off .switch-icon-on {
    font-size: 150%;
  }
  .switch-icon-off {
    color: #888888;
  }
  .switch-icon-on {
  	color: #3ef29b;
  }
  
}
