p {
  color: #000;
}

#trafficmap {
  width: 100px;
  height: 100px;
}

.widget-trafficmap {
  background: #fff;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
