p {
  color: #000;
}

#trafficmap {
  height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;;
 
}

.widget-trafficmap {
  background: #fff;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
