// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
@import "/app/assets/stylesheets/themes/current.scss";

.widget-stswitchcool {

  background-color: $background-color-action !important;
  
  .switch-icon-off .switch-icon-on {
    font-size: 150%;
  }
  .switch-icon-off {
    color: #b8c4ed;
  }
  .switch-icon-on {
  	color: #006eff;
  }
  
}
