<script type='text/javascript'></script>

<% content_for :title do %>HADashboard<% end %>

<div class="gridster" id="main">
  <ul>
    <!-- Row 1 -->
		  
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>
	  
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="goodnight" data-view="Stswitchnight" data-icon="moon-o" data-title="Good Night" data-device="night"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="morning" data-view="Stswitchmorning" data-icon="sun-o" data-title="Good Morning" data-device="morning"></div>
    </li>
	  
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="increaseheat" data-view="Stswitchheat" data-icon="fire" data-title="Heat" data-device="cold switch"></div>
    </li>
	
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="livingroom" data-view="Stswitch" data-icon="lightbulb-o" data-title="Living Room" data-device="living room"></div>
    </li>

	  
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="garage" data-view="Stswitchgarage" data-icon="car" data-title="Garage Door" data-device="garage"></div>
    </li>
   	 
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="increascool" data-view="Stswitchcool" data-icon="snowflake-o" data-title="Cool" data-device="hot"></div>
    </li>	  
	  
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="backlight" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Back Light" data-device="Back light"></div>
    </li>
	
	<li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="frontlight" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Front Light" data-device="Front light"></div>
    </li>    
    
    <!-- Row 2 -->
	

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="kitchenlights1" data-view="Stswitch" data-icon="lightbulb-o" data-title="Kitchen Lights" data-device="Kitchen light set1"></div>
    </li>	

    <!-- Row 3 -->
     
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="offswitch" data-view="Stswitchoff" data-icon="power-off" data-title="TV Off" data-device="poweroff"></div>
    </li>

    <!-- Row 4 -->
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="hpresence" data-view="Stpresencehillary" data-icon="female" data-title="Hillary" data-device="Hillary's iPhone"></div>
    </li>
	
	<li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="cpresence" data-view="Stpresencechris" data-icon="male" data-title="Chris" data-device="Chris's iPhone"></div>
    </li>
      
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="lrtemp" data-view="Sttemp" data-title="House" data-device="Thermostat"></div>
    </li>     
	  
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="movie" data-view="Stswitch" data-icon="television" data-title="TV/Movies" data-device="movie"></div>
    </li>
	 
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="firetv" data-view="Stswitch" data-icon="youtube-play" data-title="Fire TV" data-device="firetv"></div>
    </li>
	  
    <li data-row="4" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="quote" data-view="Quote"></div>
    </li>
	
	<!-- Navigation -->
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cpage1-1" data-view="ChangePage" data-icon="home" data-title="Home" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="main"></div>
    </li>
	<li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cpage1-2" data-view="ChangePage" data-icon="dashcube" data-title="Group 1" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="basement"></div>
    </li> 
	<li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cpage1-3" data-view="ChangePage" data-icon="dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"></div>
    </li>		
	<!-- Reload -->
	<li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>      	  	  		 	
  </ul>
</div>

<div class="gridster" id="basement">
  <ul>
    <!-- Devices -->
    
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="4">
      <div data-id="trafficmap" data-view="Trafficmap" data-title="Traffic" data-lat="38.781580" data-long="-122.121465" data-zoom="5" ></div>
    </li>

    <!-- Navigation -->
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage2-1" data-view="ChangePage" data-icon="home" data-title="Home" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="main"></div>
    </li>
	<li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage2-2" data-view="ChangePage" data-icon="dashcube" data-title="Basement" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="basement"></div>
    </li> 
	<li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage2-3" data-view="ChangePage" data-icon="dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"></div>
    </li>	
	<!-- Reload -->
	<li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>    
  </ul>
</div>

<div class="gridster" id="outside">
  <ul>
	<!-- Devices -->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="garagelights" data-view="Stswitch" data-icon="lightbulb-o" data-title="Garage" data-device="Garage Lights"></div>
    </li>
	<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="porchlights" data-view="Stswitch" data-icon="lightbulb-o" data-title="Porch" data-device="Porch Lights"></div>
    </li>
	<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="patiolight" data-view="Stswitch" data-icon="lightbulb-o" data-title="Patio" data-device="Patio Light"></div>
    </li>
	 
	<li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="porchoutlet" data-view="Stswitch" data-icon="tree" data-title="Porch Outlet" data-device="Porch Outlet"></div>
    </li>
	<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="patiooutlet" data-view="Stswitch" data-icon="tree" data-title="Patio Outlet" data-device="Patio Outlet"></div>
    </li>
	
	<li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="porchoutletm" data-view="Stmeter" data-icon="tree" data-title="Porch Outlet" data-device="Porch Outlet" data-min="0" data-max="1000"></div>
    </li>
	<li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="patiooutletm" data-view="Stmeter" data-icon="tree" data-title="Patio Outlet" data-device="Patio Outlet" data-min="0" data-max="1000"></div>
    </li>
	
    <!-- Navigation -->
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage3-1" data-view="ChangePage" data-icon="home" data-title="Home" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="main"></div>
    </li>
	<li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage3-2" data-view="ChangePage" data-icon="dashcube" data-title="Basement" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="basement"></div>
    </li> 
	<li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage3-3" data-view="ChangePage" data-icon="dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"></div>
    </li>  	
	<!-- Reload -->
	<li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>    
  </ul>
</div>
