// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #3CAEEC;

$full-color:  rgba(255, 255, 255, 1);
$light-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-forecast styles
// ----------------------------------------------------------------------------
.widget-title {
  
    color: $light-color;
    font-size: 20px;
    vertical-align: middle;
    text-transform: uppercase;
    top: 5px;

}

.widget-forecast {

  background-color: $background-color;
  padding-top: 15px !important;

   .updated-at {
    color: rgba(0, 0, 0, 0.3);
    top: 5px;
    right: 10px;
    left: auto;
  }
   .title {
    color: $light-color;
    text-align: middle;
    font-size: 25px;
  }

  .temp {
    color: $full-color;
    text-align: middle;
    font-size: 45px;
  }

  .summary {
    color: $full-color;
    text-align: middle;
    vertical-align: middle;
    font-size: 17px;
  }

  .forecast-icon {
    float: left;
    text-align: middle;
    margin-right: 20px;
  }

  .more-info {
      color: $light-color;
  }

}
